@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Karla:700,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
  background-color: #eee;
}

.layout-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 3.5em 1fr;
  overflow: hidden;
}

.simple {
  background-color: #E8E8E8 ;
  color: #2b2b2b;
}
.special {
  background-color: #74C773 ;
  color: #ffffff;
}
.heroic {
  background-color: #3DA4CF ;
  color: #ffffff;
}
.legendary {
  background-color: #8C8CEA ;
  color: #ffffff;
}
.mythic {
  background-color: #85DDC9 ;
  color: #ffffff;
}
.familiars {
  background-color: #85877C ;
  color: #ffffff;
}

.card-page {
  width: 100%; 
  height: 100%;
}

.card-page.filter-open {
  display: grid;
  grid-template-columns: 1fr 18em;
}

.card-page.filter-open > .card-list-wrapper {
  padding-right: 1em;
}

.card-list-wrapper {
  padding: 0em 3em 0em 1em;
  width: 100%;
  height: 100vh;
}

.card-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  
}

.card-list > h2 {
  letter-spacing: -1px;
  color: #666;
  margin-top: 10em;
  text-align: center;
}

.filter-toggle {
  position: absolute;
  background-color: #313131;
  height: 60px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
}
.filter-toggle.open {
  right: 288px;
  width: 25px;
}
.filter-toggle:hover {
  cursor: pointer;
  background-color: #515151;
}
.filter-toggle > img {
  width: 20px;
  height: 20px;
}


.shopkeeper-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

a {
  text-decoration: none;
}

.shopkeep-card {
  width: 12em;
  height: 12em;
  background-color: #313131;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 1em;
  transition: transform ease .25s;
}
.shopkeep-card:hover {
  box-shadow: 0px 4px 5px rgba(0,0,0,0.55);
  transform: translateY(-4px);
}

.shopkeep-card-text > h3 {
  font-size: .95rem;
  color: #aaa;
  margin: 0px;
}

.shopkeep-card-text > h1 {
  font-size: 1.4rem;
  color: #fff;
  margin: .25em 0em;
}